* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.grid-container {
    text-align: center;
}

button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333; 
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px; 
    margin: 0 auto;
}

.grid div {
    width: 60px;  
    height: 60px; 
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.1s ease;
}